* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(211, 224, 224);
}

main {
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    box-shadow: 0px 0px 26px 8px rgba(0,0,0,0.2);
}

.caixa-preta {
    background-color: black;
    color: white;
    height: 90px;
}

.caixa2 {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
}

.caixa-rosa {
    background-color: #FFAEC9;
    width: 140px;
}

.caixa3 {
    width: 100%;
}

.caixa-bege {
    background-color: #EFE4B0;
    height: calc(100% - 80px);
}

.caixa-marrom {
    background-color: #B97A57;
    height: 80px;
}