* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

#main {
    margin: 20px auto;
}

.caixa-preta {
    width: 600px;
    height: 50px;
    background-color: black;
}

.caixa2 {
    display: flex;
    flex-direction: row;
}

.caixa-rosa {
    width: 90px;
    height: 290px;
    background-color: #FFAEC9;
}

.caixa-bege {
    display: flex;
    flex-direction: column-reverse;
    background-color: #EFE4B0;
    width: 100%;
}

.caixa-marrom {
    height: 50px;
    width: 100%;
    background-color: #B97A57;
}